/*
    @Use:all stylesheet
    @Auth:Sinrry
    @Version:v1.0
*/
.leftmenu {
    background: none repeat scroll 0 0 #d9e0f0;
    left: 0;
    position: absolute;
    top: 0;
    width: 217px;
    z-index: 0;
}
.leftmenu h3{ height:45px;border-bottom:1px solid #bac3d9; padding-left:10px;color:#828b9e;font-size:18px;line-height:45px;}
.leftmenu h3 em{margin-top:15px;width:74px;height:20px;display:inline-block; background: url(../images/main/iconimg.png) no-repeat -2px -31px;}
.listtype1{padding:10px 0 20px 0;}
.listtype1 li{padding:5px 10px;margin:10px 0;font-size:15px;color:#515765;}
.listtype1 li.hover{ background: url(../images/main/bar.jpg) repeat-x 0 -400px;color:#fff;}
.listtype1 li.hover i{ background-position:  -89px -35px;}
.listtype1 li i{ margin-right:5px;background: url(../images/main/iconimg.png) no-repeat -90px -5px; display: inline-block;width:7px;height:10px;*position:relative;top:-3px;_top:6px;}
.listtype1 li em{display: inline-block;}
.backindex{ background: #c6cee2;padding:10px;}
.backindex a{display: block;color:#6d7993;}
.backindex i{width:14px;height:13px;background: url(../images/main/iconimg.png) no-repeat -225px -5px; display: inline-block;position:relative;top:2px;margin-right:5px;}

.rmaincon {
    position: relative;
    right: 0;
    top: 0;
    width: 793px;
    z-index: 1;
}
.Mainbox{position:relative;margin-bottom:43px;}
.Mainbox .page{position:absolute;left:50%;margin-left: -279px;bottom: 24px;}
.rmainbg{ background: url(../images/main/mainconbg.png) repeat-y;padding:0 5px;}
.bgbt{background: url(../images/main/mainconbg2.jpg) no-repeat left bottom;height:80px;width:100%;position:relative;left:-1px;bottom:0; z-index: 0;}
.zhanwei2{height:79px;}

.Mainbox2{position:relative;margin-bottom:43px; z-index: 90;}
.Mainbox2 .page{position:absolute;left:50%;margin-left: -279px;bottom: 24px;}

.Mainboxi .page{position:absolute;left:50%;margin-left: -279px;bottom: 24px;}

.rmainul{clear:both;overflow: hidden;}
.rmainul li{padding:15px 10px;overflow:hidden;border-top:1px solid #c9d0df;position:relative;*margin-top:-5px;*height:50px;}
.rmainul li.cur{ /*background: url(../images/main/bar.jpg) repeat-x 0 0;*/ background:#eef6ff; overflow: hidden;}
.rmainul li em{ margin:0 30px;background: url(../images/main/iconimg.png) no-repeat -114px -1px;width:28px;height:26px; display: block;float:left;margin-top:5px;}
.rmainul li .nr1{float:left;width:675px;}
.rmainul li .nr1 p{font-size:18px;color:#666;}
.rmainul li .nr1 p a{color:#3873bd;}
.rmainul li .nr1 p a:hover{color:#ff8c00;}
.rmainul li .nr1 span{color:#7d7d7d; display: block;margin-top:4px;font-size:12px;}
.rmainul li b{ background: url(../images/main/iconimg.png) no-repeat -186px -1px; display: block;position:absolute;right:-1px;top:-1px;width:24px;height:24px;}
.rmainul .rmain2{margin-top:20px;width:686px;/*position:absolute;right:0;bottom:10px;*/font-size:12px;}
.rmainul .rmain2 i{font-style: normal;margin:0 5px;color:#ccc;}
.rmainul .rmain2 .time{display:inline-block!important;margin-right:60px;font-size:12px!important;color:#a2a2a2;}
.rmainul .rmain2 .time i{ background: url(../images/main/iconimg.png) no-repeat -156px -3px;width:14px;height:14px; display: inline-block;position:relative;top:2px;*top:-2px;margin-right:10px;}
.rmainul .rmain2 .chaxun{color:#3873bd; text-decoration: underline;}
.rmainul .rmain2 .chaxun:hover{color:#ff8c00;}


.rmainul1{clear:both;width: 992px;
margin: 0 auto;}
.rmainul1 li{padding:15px 10px;overflow:hidden;border-top:1px solid #c9d0df;position:relative;*margin-top:-5px;*height:50px;}
.rmainul1 li.cur{ background: url(../images/main/bar.jpg) repeat-x 0 0; overflow: hidden;}
.rmainul1 li em{ margin:0 30px;background: url(../images/main/iconimg.png) no-repeat -114px -1px;width:28px;height:26px; display: block;float:left;margin-top:5px;}
.rmainul1 li .nr1{float:left;}
.rmainul1 li .nr1 p{font-size:18px;color:#666;}
.rmainul1 li .nr1 p a{color:#666;}
.rmainul1 li .nr1 p a:hover{color:#3873bd;}
.rmainul1 li .nr1 span{color:#a0a0a0; display: block;margin-top:4px;font-size:14px;}
.rmainul1 li b{ background: url(../images/main/iconimg.png) no-repeat -186px -1px; display: block;position:absolute;right:-1px;top:-1px;width:24px;height:24px;}
.rmainul1 .rmain2{position:absolute;right:0;bottom:10px;font-size:14px;}
.rmainul1 .rmain2 .time{margin-right:60px;font-size:12px;color:#a2a2a2;}
.rmainul1 .rmain2 .time i{ background: url(../images/main/iconimg.png) no-repeat -156px -3px;width:14px;height:14px; display: inline-block;position:relative;top:2px;*top:-2px;margin-right:10px;}
.rmainul1 .rmain2 .chaxun{margin-right:20px;color:#ff8c00; text-decoration: underline;}


/*浼楀垱绌洪棿*/
.zckj{ padding: 10px 0;}
.zckj li{ line-height: 32px; margin:5px 0;}
.zckj li a{ display: block; height: 32px; width: 212px; color: #515765; font-size: 15px; font-family: "microsoft yahei";}
.zckj li a span{ width: 18px; height: 18px; display: block; background: url(../images/main/icoimg.png) no-repeat; float: left; margin: 9px 12px 0 15px;}
.zckj li a.zc1 span{ background: url(../images/main/icoimg.png) no-repeat 0px 0px;}
.zckj li a.zc2 span{ background: url(../images/main/icoimg.png) no-repeat 0px -45px;}
.zckj li a.zc3 span{ background: url(../images/main/icoimg.png) no-repeat 0px -90px;}
.zckj li a.zc4 span{ background: url(../images/main/icoimg.png) no-repeat 0px -135px;}
.zckj li a.zc5 span{ background: url(../images/main/icoimg.png) no-repeat 0px -180px;}
.zckj li a.zc6 span{ background: url(../images/main/icoimg.png) no-repeat 0px -223px;}
.zckj li a.zc7 span{ background: url(../images/main/icoimg.png) no-repeat 0px -268px;}
.zckj li a.zc8 span{ background: url(../images/main/icoimg.png) no-repeat 0px -314px;}
.zckj li a.zc9 span{ background: url(../images/main/icoimg.png) no-repeat 0px -358px;}
.zckj li a.zc10 span{ background: url(../images/main/icoimg.png) no-repeat 0px -404px;}
.zckj li a.zc11 span{ background: url(../images/main/icoimg.png) no-repeat 0px -448px;}
.zckj li a.zc12 span{ background: url(../images/main/icoimg.png) no-repeat 0px -493px;}
.zckj li a.zc13 span{ background: url(../images/main/icoimg.png) no-repeat 0px -538px;}
.zckj li a.zc14 span{ background: url(../images/main/icoimg.png) no-repeat 0px -583px;}
.zckj li a.zckj_1{ height: 30px; background: url(../images/main/zckj-bj.jpg) repeat-x; border:1px solid #2774f0; color: #FFFFFF; line-height: 30px; width: 210px;}
.zckj li a.zckj_1 span{background: url(../images/main/icoimg.png) no-repeat -50px 0px; margin: 7px 12px 0 13px;}
.zckj li a.zckj_2{ height: 30px; background: url(../images/main/zckj-bj.jpg) repeat-x; border:0px solid #2774f0; color: #FFFFFF; line-height: 30px; width: 210px;}
.zckj li a.zckj_2 span{background: url(../images/main/icoimg.png) no-repeat -50px -45px; margin: 7px 12px 0 13px;}
.zckj li a.zckj_3{ height: 30px; background: url(../images/main/zckj-bj.jpg) repeat-x; border:1px solid #2774f0; color: #FFFFFF; line-height: 30px; width: 210px;}
.zckj li a.zckj_3 span{background: url(../images/main/icoimg.png) no-repeat -50px -90px; margin: 7px 12px 0 13px;}
.zckj li a.zckj_4{ height: 30px; background: url(../images/main/zckj-bj.jpg) repeat-x; border:1px solid #2774f0; color: #FFFFFF; line-height: 30px; width: 210px;}
.zckj li a.zckj_4 span{background: url(../images/main/icoimg.png) no-repeat -50px -135px; margin: 7px 12px 0 13px;}
.zckj li a.zckj_5{ height: 30px; background: url(../images/main/zckj-bj.jpg) repeat-x; border:1px solid #2774f0; color: #FFFFFF; line-height: 30px; width: 210px;}
.zckj li a.zckj_5 span{background: url(../images/main/icoimg.png) no-repeat -50px -180px; margin: 7px 12px 0 13px;}
.zckj li a.zckj_6{ height: 30px; background: url(../images/main/zckj-bj.jpg) repeat-x; border:1px solid #2774f0; color: #FFFFFF; line-height: 30px; width: 210px;}
.zckj li a.zckj_6 span{background: url(../images/main/icoimg.png) no-repeat -50px -223px; margin: 7px 12px 0 13px;}
.zckj li a.zckj_7{ height: 30px; background: url(../images/main/zckj-bj.jpg) repeat-x; border:1px solid #2774f0; color: #FFFFFF; line-height: 30px; width: 210px;}
.zckj li a.zckj_7 span{background: url(../images/main/icoimg.png) no-repeat -50px -268px; margin: 7px 12px 0 13px;}
.zckj li a.zckj_8{ height: 30px; background: url(../images/main/zckj-bj.jpg) repeat-x; border:1px solid #2774f0; color: #FFFFFF; line-height: 30px; width: 210px;}
.zckj li a.zckj_8 span{background: url(../images/main/icoimg.png) no-repeat -50px -314px; margin: 7px 12px 0 13px;}
.zckj li a.zckj_9{ height: 30px; background: url(../images/main/zckj-bj.jpg) repeat-x; border:1px solid #2774f0; color: #FFFFFF; line-height: 30px; width: 210px;}
.zckj li a.zckj_9 span{background: url(../images/main/icoimg.png) no-repeat -50px -358px; margin: 7px 12px 0 13px;}
.zckj li a.zckj_10{ height: 30px; background: url(../images/main/zckj-bj.jpg) repeat-x; border:1px solid #2774f0; color: #FFFFFF; line-height: 30px; width: 210px;}
.zckj li a.zckj_10 span{background: url(../images/main/icoimg.png) no-repeat -50px -404px; margin: 7px 12px 0 13px;}
.zckj li a.zckj_11{ height: 30px; background: url(../images/main/zckj-bj.jpg) repeat-x; border:1px solid #2774f0; color: #FFFFFF; line-height: 30px; width: 210px;}
.zckj li a.zckj_11 span{background: url(../images/main/icoimg.png) no-repeat -50px -448px; margin: 7px 12px 0 13px;}
.zckj li a.zckj_12{ height: 30px; background: url(../images/main/zckj-bj.jpg) repeat-x; border:1px solid #2774f0; color: #FFFFFF; line-height: 30px; width: 210px;}
.zckj li a.zckj_12 span{background: url(../images/main/icoimg.png) no-repeat -50px -493px; margin: 7px 12px 0 13px;}
.zckj li a.zckj_13{ height: 30px; background: url(../images/main/zckj-bj.jpg) repeat-x; border:1px solid #2774f0; color: #FFFFFF; line-height: 30px; width: 210px;}
.zckj li a.zckj_13 span{background: url(../images/main/icoimg.png) no-repeat -50px -538px; margin: 7px 12px 0 13px;}
.zckj li a.zckj_14{ height: 30px; background: url(../images/main/zckj-bj.jpg) repeat-x; border:1px solid #2774f0; color: #FFFFFF; line-height: 30px; width: 210px;}
.zckj li a.zckj_14 span{background: url(../images/main/icoimg.png) no-repeat -50px -583px; margin: 7px 12px 0 13px;}


.zckj2{/* padding:0 0 84px 0;*/clear: both;}
.zckj2 li{ padding: 16px 0; border-top: 1px solid #c9d0df; position: relative;width:784px;}
.zckj2 li b{ background: url(../images/main/iconimg.png) no-repeat -186px -1px; display:block; position:absolute; right:-1px; top:-1px; width:24px; height:24px;}
.zckj2 li:hover{ background: #ECF4FF;}
.zckj2_a{ width: 265px; height: 200px; border: 1px solid #b6b6b6; border-radius: 5px; overflow: hidden; margin-left: 18px;}
.zckj2_b{ width: 450px; margin-right: 18px;}
.zckj2_b1{ padding-bottom: 10px; border-bottom: 1px solid #c9d0df; height: 136px;}
.zckj2_b1 h3{ line-height: 40px; font-weight: normal; margin-bottom: 16px;}
.zckj2_b1 h3 a{ font-size: 18px; color: #3873BD; text-decoration: underline;}
.zckj2_b1 h3 a:hover{color: #ff8c00;}
.zckj2_b1 h3 span{ float: right; color: #A1A1A1; font-size: 12px;}
.zckj2_b1 p{ line-height: 24px; color: #797979; font-size: 13px;}
.zckj2_b2{ height: 50px;}
.zckj2_b2 a{ width: 31px; height: 31px; display: inline-block; background: url(../images/main/iconimg.png) no-repeat -232px -71px; float: left; margin-top: 18px;}
.zckj2_b2 a:hover{ background: url(../images/main/iconimg.png) no-repeat -189px -70px;}
.zckj2_b2 span{ float: right; font-size: 14px; margin-top: 28px;}
.zckj2_b2 span a{ display: flex; width: auto; height: auto; background: none; margin-top: 0; text-decoration: underline; color: #3773BD;}
.zckj2_b2 span a:hover{ background: none; color: #ff8c00;}
.zckj2_b2 em{ font-size: 16px; color: #FF991D; margin-top: 22px; margin-left: 15px; float: left;}

.zckj2_{/* padding:0 0 84px 0;*/clear: both;}
.zckj2_ li{ padding: 16px 0; border-top: 1px solid #c9d0df; position: relative;width:784px;}
.zckj2_ li b{ background: url(../images/main/iconimg.png) no-repeat -186px -1px; display:block; position:absolute; right:-1px; top:-1px; width:24px; height:24px;}
.zckj2_ li:hover{ background: #ECF4FF;}
.zckj2_a_{ width: 170px; height: 110px; border: 1px solid #b6b6b6; border-radius: 5px; overflow: hidden; margin-left: 18px;}
.zckj2_b_{ width: 567px; margin-right: 18px;}
.zckj2_b1_ p a{color:#ff8c00;}
.zckj2_b1_ em a{color:#3873BD;text-decoration: underline;}
.zckj2_b1_ em a:hover{color: #ff8c00;}
.zckj2_b1_ h3{font-weight: normal; }
.zckj2_b1_ h3 a{ font-size: 18px; color: #3873BD; text-decoration: underline;}
.zckj2_b1_ h3 a:hover{color: #ff8c00;}
.zckj2_b1_ h3 span{ float: right; color: #A1A1A1; font-size: 12px;}
.zckj2_b1_ p{margin:15px 0;color: #797979; font-size: 13px;}
.zckj2_b1_ p span{margin-left:100px;display: inline-block;color:#999;}
.zckj2_b1_ p em{margin-right:100px;display: inline-block;color:#4b4b4b;}


/*5-1鍜ㄨ鍒楄〃*/
.rmaincon2{width: 1019px;position:relative;left:0;top:0; z-index: 1; }
.rmaincon2 .rmainbg{ background: url(../images/main/conbg2.jpg) repeat-y left top;margin-left:-1px;}
.rmaincon2 .bgbt{ background: url(../images/main/bgbottm2.jpg) no-repeat left 1px;}
.rmaincon2 .rmainul li {
padding: 15px 10px;
width: 973px;
left: 9px;
overflow: hidden;
border-top: 1px solid #c9d0df;
position: relative;
}
.ploo{margin-right:65px;padding-left:24px; background: url(../images/main/plicoo.png) no-repeat left 4px; color: #3773BD; cursor:pointer;}
.Pinglun{ background: #f9fafd;clear:both;}
.Pinglun dt{ padding: 18px 0; height: 52px; border-bottom: 2px solid #e3e3e3; margin: 0 18px;}
.Pinglun dt span{ width: 48px; height: 48px; display: block; float: left; border: 1px solid #b9b9b9; overflow: hidden; border-radius: 24px; margin-left: 12px; margin-top: 1px;}
.Pinglun dt textarea{ width: 470px; height: 20px; padding: 15px; line-height: 20px; resize: none; max-width: 500px; max-height: 20px; border: 1px solid #FF991D; border-radius: 3px; float: left; margin-left: 20px; color: #A0A0A0; font-size: 14px; font-family: "Microsoft YaHei";}
.Pinglun dt a{ width: 82px; height: 34px; background: #FF8B00; border-radius: 5px; text-align: center; line-height: 34px; display: block; float: right; font-size: 13px; color: #FFFFFF; margin-right: 30px; margin-top: 9px;}
.Pinglun dd{ margin: 0 18px;}
.Pinglun dd p{ line-height: 36px; color: #797979; font-size: 15px;}
.Pinglun dd li{ width: auto;}
.Pinglun dd li:hover{ background: none;}

.Pinglun_a{ height: 50px;}
.Pinglun_a span{ width: 48px; height: 48px; display: block; float: left; border: 1px solid #b9b9b9; overflow: hidden; border-radius: 24px; margin-left: 12px; margin-top: 1px; margin-right: 20px;}
.Pinglun_a p{ color: #727272; font-size: 14px; padding-top: 7px;}
.Pinglun_a p em{ color: #3773BD;}
.Pinglun_b{ padding-left: 138px; margin-top: -10px;}
.Pinglun_b li{ position: relative; color: #a1a1a1; font-size: 14px; border: none; padding: 0;}
.Pinglun_b li a{ float: right; margin-right: 20px; color: #3873bd; margin-right: 190px;}
.Pinglun_b li textarea{ width: 420px; height: 20px; resize: none; max-width: 420px; max-height: 20px; padding: 15px; border: 1px solid #9bb1c3; border-radius: 5px; line-height: 20px; margin-top: 20px;}
.Pinglun_b li a.Pinglun_bn{ width: 82px; height: 34px; background: #FF8B00; border-radius: 5px; text-align: center; line-height: 34px; display: block; font-size: 13px; color: #FFFFFF; margin-right: 28px; margin-top: 28px;}
.Pinglun_b li b{ width: 18px; height: 10px; background: url(../images/main/tb1.png) no-repeat; position: absolute; right: 194px; top: 11px;}
.Pinglun11{ height: 44px; border-top: 1px solid #E3E3E3; background: #F0F3F9; line-height: 44px; text-align: center; position: relative;
z-index: 999;}
.Pinglun11 a{ color: #3773BD; font-size: 14px;}
.Pinglun11 a:hover{color: #ff8c00;}
.plbiaoqian{padding:10px;width:70px;border:1px solid #e3e3e3;border-bottom:none;position:relative;top:1px; margin-left:60px;background:#f9fafd url(../images/main/plicoo.png) no-repeat 20px center;padding-left:50px;font-size:16px;font-family: "Microsoft YaHei";color:#3873bd;}
/*.zhanwei3{height:20px;}*/
.bgbtui{position:relative;left:-4px;}
/*6-1 浜у搧鍒楄〃閮ㄥ垎*/
.hotRrcommandWrap{
	width: 100%;
	border-top: 1px solid #c9d0df;
	padding-top: 1px;
}
.hotRrcommand{
	clear: both;
	width: 100%;
	height: 46px;
	line-height: 46px;
	border-bottom: 1px solid #ccc;
	background: url(../images/main/hotRecommandBg.jpg) repeat-x;
	position: relative;
}
.hotRrcommand strong{
	margin-left: 24px;
	display: inline-block;
	margin-right: 32px;
}
.hotRrcommand i{
	display: inline-block;
	width: 1px;
	font-size: 12px;
	font-family: "microsoft yahei";
	font-style: normal;
}
.hotRrcommand a{
	display: inline-block;
	font-family: "microsoft yahei";
	font-size: 12px;
	color: #3873bd;
	padding: 0 18px;
}
.hotRrcommand a:hover{
	color: #ff991d;
}
.darkLine{
	color: #d2d1d1;
}
.lightLine{
	color: #ececec;
}
.hotIcon{
	display: block;
	position: absolute;
	width: 22px;
	height: 26px;
	top: -3px;
	left: 90px;
	background: url(../images/main/iconimg.png) no-repeat -233px -347px; 
}

.goodsTags{
	background: #f9fafd;
	padding: 14px 24px 23px;
	border-bottom: 1px solid #c1c1c1;
	margin-bottom: 1px;
}

.searchResult{
	height: 30px;
	line-height: 30px;
	color: #7d8596;
	font-size: 14px;
	font-family: "microsoft yahei";
	margin-bottom: 8px;
}
.ltemNum{
	color: #f81616;
}
.brandTags{
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.brandTags dt,.brandTags dd{
	float: left;
	height: 30px;
	color: #7d8596;
	font-size: 14px;
	font-family: "microsoft yahei";
}
.brandTags dt{
	width: 50px;
}
.brandTags dd{
	padding-left: 4px;
	height: 25px;
	margin-top: 2px;
	line-height: 25px;
	white-space: nowrap;
}

.brandTags dd a{
	display: block;
	padding: 0 14px 0 10px;
}
.brandTags .cplb_cur{
	background: url(../images/main/leftPart.jpg) no-repeat left top;
}
.brandTags .cplb_cur a{
	background: url(../images/main/rightPart.jpg) no-repeat right top;
	color: #fe9500;
}
.cplbRank{
	width: 100%;
	height: 46px;
	background: #f4f4f4;
	border-bottom: 1px solid #d5d5d5;
}
.rankItems{
	height: 46px;
}
.rankItems em{
	width: 74px;
	top: auto;
	line-height: 46px;
	color: #7d8596;
	font-size: 14px;
	font-family: "microsoft yahei";
	text-align: center;
	
}
.cplbTItle{
	height: 43px;
	position: relative;
	top: 4px;
}
.cplbTItle li{
	padding:  0 30px;
	color: #2364bf;
	font-size: 14px;
	font-family: "microsoft yahei";
	line-height: 41px;
	border: 1px solid transparent;
	_border-color:tomato; 
	_filter:chroma(color=tomato); 
	float: left;
}
.cplbTItle li.cplb_cur{
	background: #fff;
	border-color:#d5d5d5;
	border-bottom-color: #fff;
}
.cpliPageSelect{
	width: 106px;
	margin-right: 20px;
	_display: inline;
}
.pagesList{
	width: 106px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	color: #a4a9b4;
	font-size: 14px;
	font-family: arial;
}
.pagesList em{
	color: #2364bf;
}
.lTriIcon,.rTriIcon{
	width: 6px;
	float: left;
}
.lTriIcon em{
	display: block;
	margin-top: 17px;
	width: 6px;
	height: 12px;
	background: url(../images/main/iconimg.png) no-repeat -109px -380px;
}
.rTriIcon em{
	display: block;
	margin-top: 17px;
	width: 6px;
	height: 12px;
	background: url(../images/main/iconimg.png) no-repeat -131px -380px;
}
.pagesList{
	width: 94px;
}
.productUl{
	padding: 37px 6px 0  19px;
	*padding-bottom:34px ;
}
.productUl li{
	width: 238px;
	height: 278px;
	margin-right: 12px;
	border: 1px solid #c1c1c1;
	border-radius: 4px;
	background: #fff;
	float: left;
	margin-bottom: 34px;
	padding-top: 1px;
}
.productUl li.cplb_cur{
	border-color:#9ebbeb
}
.productUl li dl{
	background: #f4f4f4;
	padding: 9px 11px 0;
	background: -webkit-gradient(linear,center top,center bottom,from(#f2f2f2), to(#fff));
	background: -webkit-linear-gradient(#f2f2f2,#fff);
	background: -moz-linear-gradient(#f2f2f2,#fff);
	background: -ms-linear-gradient(#f2f2f2,#fff);
	background: -ms-linear-gradient(#f2f2f2,#fff);
	background: linear-gradient(#f2f2f2,#fff);
}
.productUl li dt{
	width: 215px;
	height: 165px;
}
.productUl li dd{
	width: 100%;
	height: 58px;
	text-align: center;
	line-height: 58px;
	color: #2364bf;
	font-family: "microsoft yahei";
	font-size: 16px;
}
.productUl li dd.cargoPrics{
	height: 43px;
	line-height: 43px;
	color: #989898;
	border-top: 1px solid #e3e3e3;
}
.productUl li dd.cargoPrics em{
	color: #fe0000;
}
/*6-2浜у搧涓績璇︽儏椤�*/
.p_goodShowStand{
	width: 965px;
	overflow: hidden;
	margin: 0 auto;
	padding: 16px 20px 11px;
	border-bottom: 1px solid #e3e3e3;
}
.goodsEnlargeBox{
	width: 342px;
	margin-right: 28px;
}
.m_box{width: 342px;height: 406px; position: relative;z-index: 999; }
.m_outBox{width: 340px;height:340px;position: relative;border: 1px solid #000;}
.m_posShowBox{width: 342px;height: 342px;position: absolute; top: 0;left: 340px;display: none; z-index: 999;}
.m_outBox img{position: absolute;left: 0;top: 0;display: none;}
.m_outBox img.m_currentPic{display: block;}
.m_showBox{width: 340px;height: 340px;float: left;display: none;position: relative;overflow: hidden;border: 1px solid #000;}
.m_shadow{width: 85px;height: 85px;opacity: .5; overflow: hidden;filter:alpha(opacity = 50);background: #000000;position: absolute;z-index: 9;display: none;float: none;}
.m_showBox img{position: absolute;left: 0;top: 0;}
.m_ctrlBox{width: 340px;height: 340px;position: absolute;left: 0;top: 0;opacity: 0;filter:alpha(opacity = 0);z-index: 20;background: #00CCCC;cursor: move;}
.m_numsWrap{
	width: 265px;
	height: 55px;
	margin: 0 auto;
	padding-top: 8px;
	position: relative;
	overflow: hidden;
}
.m_nums{width: 1000px;height: 55px; position: absolute; left: 0;top: 8px;}
.m_nums li{float: left;width: 55px;height: 55px;cursor: pointer; position: relative; margin-right: 15px;}
.m_nums li img{
	width: 55px;
	height: 55px;
}
.m_imgCover{
	width: 55px;
	height: 55px;
	background: #22447c;
	opacity: .5;
	-moz-opacity:.5 ;
	filter:alpha(opacity = 50);
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.m_nums li.m_currentPic .m_imgCover{display: block;}
.m_leftBtn,.m_rightBtn{
	width: 27px;
	height: 55px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
}
.m_leftBtn{
	left: 0;
	background:url(../images/main/m_lBtn.png) no-repeat;
	_background:url(../images/main/m_lBtn.gif) no-repeat;
}
.m_rightBtn{
	right: 0;
	background:url(../images/main/m_lBtn.png) no-repeat -33px top;
	_background:url(../images/main/m_lBtn.gif) no-repeat -33px top;
}
.m_leftBtn:hover{
	background-position: left -65px;
}
.m_rightBtn:hover{
	background-position: -33px -65px;
}
.sellingInfos{
	width: 590px;
}
.sellingTr1 h3{
	width: 100%;
	height: 77px;
	line-height: 77px;
	font-family: "microsoft yahei";
	font-size: 24px;
	color: #3873bd;
	font-weight: 300;	
}
.sellingTr1{
	padding-bottom: 21px;
	border-bottom: 1px solid #e3e3e3;
}
.sellingTr1 p{
	height: 25px;
	line-height: 25px;
	color: #828282;
	font-family: "microsoft yahei";
	font-size: 12px;
}
.earlyPrice span{
	text-decoration: line-through;
}
.currentPrice span{
	font-size: 18px;
	color: #e4393c;
	font-weight: 700;
}
.currentPrice{
	margin-top: 7px;
}
.sellingTr2{
	padding: 23px 0 19px;
	border-bottom: 1px solid #e3e3e3;
}
.sellingTr2 p{
	height: 32px;
	line-height: 32px;
	color: #828282;
	font-family: "microsoft yahei";
	font-size: 12px;
}
.sellingTr2 p em{
	color: #2361bc;
	font-size: 14px;
}
.sellingTr2 p span{
	color: #4b4b4b;
	font-size: 14px;
}
.sellingTr2 p a{
	color: #2361bc;
	font-size: 14px;
	font-family: "microsoft yahei";
}
.sellingTr3{
	padding-top: 32px;
}
.choose-amount{
	width:92px;
	height: 44px;
	background: url(../images/main/iconimg.png) no-repeat left -345px;
	position: relative;
	margin-right: 20px;
}
.num_text{
	display: block;
	width: 51px;
	height: 40px;
	position: absolute;
	left: 0;
	top: 0;
	padding:2px;
	border: 0;
	background: transparent;
	outline: none;
	text-align: center;
	line-height: 40px;
}
.btn-reduce,.btn-add{
	display: block;
	width:37px;
	height: 19px;
	margin-top: 2px;
	text-indent: -9999px;
}
.btn-add{
	*position: absolute;
	*bottom: -2px;
	*right:0;
}
.cart_btn{
	width: 174px;
	height: 45px;
}
.btn-append{
	display: block;
	width: 174px;
	height: 45px;
	background: url(../images/main/iconimg.png) no-repeat -97px -268px;
	text-indent: -9999px;
}
.sellingTr4{
	margin-top: 29px;
	
}
.share-list{
	margin-right: 34px;
}
.share-list,.choose-btn-coll{
	display: inline-block;
	height: 18px;
	line-height: 18px;
	color: #666;
	font-size: 12px;
}
.share-list b,.choose-btn-coll b{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../images/main/iconimg.png) no-repeat -267px -164px;
	margin-right: 5px;
}
.choose-btn-coll b{
	width: 14px;
	background-position:-267px -193px ;
}
.cpzxyUserActions{
	width: 965px;
	padding: 20px 20px 30px;
	overflow: hidden;
}
.userViewSitesBox{
	width: 237px;
	height: 780px;
	border: 1px solid #c1c1c1;
	border-radius:5px ;
}
.goodsDetailsBox{
	width:704px ;
}
.recommandGoodInfo,.currentGoodsDatas{
	width: 702px;
	height: auto;
	overflow: hidden;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
}
.userViewSitesBox h3,.recommandGoodInfo h3{
	margin-top: 1px;
	height: 46px;
	width: 100%;
	background:url(../images/main/hotRecommandBg.jpg) repeat-x;
	border-bottom: 1px solid #e3e3e3;
	text-align: center;
	line-height: 46px;
	font-size: 16px;
	font-family: "microsoft yahei";
	color: #4b4b4b;
}
.historygoods{
	padding: 20px 10px 0;
	overflow: hidden;
}
.historygoods dt{
	width: 215px;
	height: 165px;
	border: 1px solid #eee;
	margin-bottom: 8px;
}
.historygoods dd{
	height:23px;
	font-size: 16px;
	color: #2364bf;
	font-family: "microsoft yahei";
	text-align: center;
}
.historygoods dd.goodsPrices{
	height: 18px;
	line-height: 18px;
	color: #989898;
	font-size: 14px;
	font-family: "microsoft yahei";
}
.historygoods dd.goodsPrices em{
	color: #fe0000;
	font-weight: 700;
}
.userviewHistory .cpzx_cur dt{
	border-color:#a3c3f9;
}
.recommandGoodsDatas{
	overflow: hidden;
	padding: 19px 0 19px 16px;
}
.recommandDl{
	float: left;
	padding: 0;
	margin-right: 10px;
	
}
.recommandGoodsTit{
	width: 702px;
	height: 46px;
	margin-top: 1px;
	background:url(../images/main/hotRecommandBg.jpg) repeat-x;
}
.currentGoodsDatas{
	margin-top: 20px;
}
.goodsDataTit{
	padding-left: 25px;
	background:url(../images/main/hotRecommandBg.jpg) repeat-x;
	margin-top: 1px;
	border-bottom: 1px solid #e3e3e3;
	height: 45px;
}
.goodsDataTit li{
	float: left;
	padding: 0 18px;
	height: 42px;
	border: 1px solid transparent;
	line-height: 42px;
	text-align: center;
	font-size: 14px;
	font-family: "microsoft yahei";
	color: #4b4b4b;
	_border-color:tomato; 
	_filter:chroma(color=tomato); 
	position: relative;
	top: 3px;
	border-bottom: 0;
	cursor: pointer;
}
.goodsDataTit li.cpzx_cur{
	border-color: #d5d5d5;
	color: #2364bf;
	font-weight: 700;
	background: #fff;
}
.goodsDataCont{
	padding: 11px 22px 15px;
}
.goodsDataCont li{
	display: none;
}
.goodsDataCont li.cpzx_cur{
	display: block;
}
.datasTr{
	width:100%;
	height: 46px;
	line-height: 46px;
	border-bottom: 1px solid #e3e3e3;
}
.datasTd{
	width: 33.3%;
	float: left;
	font-size: 12px;
	font-family: "microsoft yahei";
	color: #828282;
}
.datasTd em{
	font-size: 14px;
	color: #4b4b4b;
}
.goodsDetailsPics,.dataPicsBox{
	width: 100%;
}
.mt6{
	margin-top: 6px;
}
/*4-1 鍦ㄧ嚎璧勬簮鍒楄〃*/
.zxzy li a.zc1 span{
	background-position: left -895px;
}
.zxzy li a.zc2 span{
	background-position: left -950px;
}
.zxzy li a.zc3 span{
	background-position: left -1013px;
}
.zxzy li a.zckj_2 span{
	background-position: -43px -1013px;
}
.zxzyListItem{
	border-top: 1px solid #bac3d9;
	clear: both;
/*	padding-bottom: 84px;*/
}
.zxzyListItem li{
	padding: 20px 20px 15px 53px;
	border-bottom: 1px solid #e3e3e3;
	position: relative;
}
.zxzyListItem li.zxzyFav .Fav{
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 24px;
	background: url(../images/main/iconimg.png) no-repeat -186px -1px; 
}
.zxzyListIcon{
	width: 189px;
	height: 189px;
	margin-right: 75px;
}
.zxzyListIntr{
	width: 254px;
}
.zxzyListIntr h3{
	height: 32px;
	line-height: 32px;
}
.zxzyListIntr h3 a font{
	font-family: "microsoft yahei";
	font-size: 18px;
	color: #3873bd;
	border-bottom: 2px solid  #aec1df;
	font-weight: 300;
}
.zxzyListIntr h3 a:hover font{
	color: #ff8b00;
	border-color:#ffcaa3 ;
}
.zxzyIntroTXt{
	margin-top: 28px;
}
.zxzyIntroTXt p{
	line-height: 24px;
	font-size: 13px;
	color: #7a7a7a;
}
.starBox{
	width: 100px;
	height: 15px;
}
.zxzyStars{
	margin-top: 8px;
}
.stars{
	float: left;
	width: 15px;
	height: 15px;
	background: url(../images/main/iconimg.png) no-repeat -96px -210px; 
	margin-right: 5px;
}
.starBox .starsOn{
	background-position: -96px -231px;
}
.zxzyUserActions{
	width: 135px;
}
.postMsg ,.freeTry{
	display: block;
	width: 134px;
	border: 0;
	color: #fff;
	font-family: "microsoft yahei";
	font-size: 14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}
.postMsg{
	margin-top: 64px;
	height: 34px;
	background: url(../images/main/iconimg.png) no-repeat -139px -115px; 
	line-height: 34px;
}
.freeTry{
	height: 44px;
	background: url(../images/main/iconimg.png) no-repeat -97px -163px; 
	margin: 10px 0;
	line-height: 44px;
}
.checkDetail{
	line-height: 30px;
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #ff8c00;
	display: block;
	width: 134px;
	text-align: center;
	text-decoration: underline;
}
.zxzyUserActions a:hover{
	color: #fff;
}
.zxzyUserActions a.checkDetail:hover{
	color:#ff8c00 ;
	text-decoration: underline;
}
.zxzyListItem li.bd0{
	border-bottom: 0;
}

/*璇勮椤�*/
.Pinglun1{ background: #f9fafd;clear:both;margin:0 auto;border-bottom:1px solid #c9d0df;border-top:1px solid #c9d0df;width:992px;}
.Pinglun1 dt{ padding: 18px 0; height: 52px; border-bottom: 2px solid #e3e3e3; margin: 0 18px;}
.Pinglun1 dt span{ width: 48px; height: 48px; display: block; float: left; border: 1px solid #b9b9b9; overflow: hidden; border-radius: 24px; margin-left: 12px; margin-top: 1px;}
.Pinglun1 dt textarea{ width: 470px; height: 20px; padding: 15px; line-height: 20px; resize: none; max-width: 500px; max-height: 20px; border: 1px solid #FF991D; border-radius: 3px; float: left; margin-left: 20px; color: #A0A0A0; font-size: 14px; font-family: "Microsoft YaHei";}
.Pinglun1 dt a{ width: 82px; height: 34px; background: #FF8B00; border-radius: 5px; text-align: center; line-height: 34px; display: block; float: left;margin-left:20px; font-size: 13px; color: #FFFFFF; margin-right: 30px; margin-top: 9px;}
.Pinglun1 dd{ margin: 0 18px;}
.Pinglun1 dd p{ line-height: 36px; color: #797979; font-size: 15px;}
.Pinglun1 dd li{ width: 578px;}
.Pinglun1 dd li:hover{ background: none;}

.Pinglun1nn{ background: #f9fafd;clear:both;margin:0 auto;border-bottom:1px solid #c9d0df;border-top:1px solid #c9d0df;}
.Pinglun1nn dt{ padding: 18px 0; height: 52px; border-bottom: 2px solid #e3e3e3; margin: 0 18px;}
.Pinglun1nn dt span{ width: 48px; height: 48px; display: block; float: left; border: 1px solid #b9b9b9; overflow: hidden; border-radius: 24px; margin-left: 12px; margin-top: 1px;}
.Pinglun1nn dt textarea{ width: 470px; height: 20px; padding: 15px; line-height: 20px; resize: none; max-width: 500px; max-height: 20px; border: 1px solid #FF991D; border-radius: 3px; float: left; margin-left: 20px; color: #A0A0A0; font-size: 14px; font-family: "Microsoft YaHei";}
.Pinglun1nn dt a{ width: 82px; height: 34px; background: #FF8B00; border-radius: 5px; text-align: center; line-height: 34px; display: block; float: left;margin-left:20px; font-size: 13px; color: #FFFFFF; margin-right: 30px; margin-top: 9px;}
.Pinglun1nn dd{ margin: 0 18px;}
.Pinglun1nn dd p{ line-height: 36px; color: #797979; font-size: 15px;}
.Pinglun1nn dd li{ width: 578px;}
.Pinglun1nn dd li:hover{ background: none;}

.Pinglun_a1{ height: 50px;}
.Pinglun_a1 span{ width: 48px; height: 48px; display: block; float: left; border: 1px solid #b9b9b9; overflow: hidden; border-radius: 24px; margin-left: 12px; margin-top: 1px; margin-right: 20px;}
.Pinglun_a1 p{ color: #727272; font-size: 14px; padding-top: 7px;}
.Pinglun_a1 p em{ color: #3773BD;}
.Pinglun_b1{ padding-left: 138px; margin-top: -10px;}
.Pinglun_b1 ul{width:734px;}
.Pinglun_b1 li{ position: relative; color: #a1a1a1; font-size: 14px; border: none; padding: 10px 0;}
.Pinglun_b1 li a{ float: right; margin-right: 20px; color: #3873bd; margin-right: 190px;}
.Pinglun_b1 li textarea{ width: 420px; height: 20px; resize: none; max-width: 420px; max-height: 20px; padding: 15px; border: 1px solid #9bb1c3; border-radius: 5px; line-height: 20px; }
.Pinglun_b1 li a.Pinglun_bn{ width: 82px; height: 34px; background: #FF8B00; border-radius: 5px; text-align: center; line-height: 34px; display: block; font-size: 13px; color: #FFFFFF; margin-right: 28px; margin-top: 8px;}
.Pinglun_b1 li b{ width: 18px; height: 10px; background: url(../images/main/tb1.png) no-repeat; position: absolute; right: 194px; top: 1px;}
.Pinglun111{ height: 44px; border-top: 1px solid #E3E3E3; background: #F0F3F9; line-height: 44px; text-align: center; margin-bottom: -16px;}
.Pinglun111 a{ color: #3773BD; font-size: 14px;}
.Pinglun111 a:hover{color: #ff8c00;}

/*鍗忎綔涓撳尯鍒楄〃*/
.china{ background: url(../images/main/china.jpg) no-repeat left center;padding-left:20px;}
/*鍗忎綔涓撳尯璇︽儏*/
.leftmenu2 {
    background: none repeat scroll 0 0 #d9e0f0;
    left: 0;
    position: absolute;
    top: 0;
    width: 217px;
    z-index: 0;
}
.leftmenu2 h3{ padding:10px;border-bottom:1px solid #bac3d9; color:#828b9e;font-size:18px;font-size:15px; text-align: center;}
.leftmenu2 h3 em{margin-top:15px;width:74px;height:20px;display:inline-block; background: url(../images/main/iconimg.png) no-repeat -2px -31px;}
.leftmenu2 h3 span{width:190px; text-align: center;display: block;margin:0 auto;line-height:20px;word-break: break-all;height:48px;margin-top:5px;}
.bgn{ background: url(../images/main/bgn.jpg) no-repeat;height:45px;line-height: 45px;color:#646d80;}
.bgn span{margin-left:20px;}
.home{ background: url(../images/main/home.png) no-repeat left center;padding-left:20px; }
.leftmenu2 ul{margin-bottom:10px;}
.leftmenu2 li {padding:10px 0;padding-left:20px;margin:10px 0;}
.leftmenu2 li em{display: inline-block;width:16px;height:17px;position:relative;top:3px;margin-right:10px;}
.leftmenu2 li em.ico1{ background: url(../images/main/emico1.png) no-repeat left center;}
.leftmenu2 li em.ico2{background: url(../images/main/emico2.png) no-repeat left center;}
.leftmenu2 li em.ico3{background: url(../images/main/emico3.png) no-repeat left center;}

.Conb{clear:both;border-top:1px solid #bac3d9;}
.Conb h3{font-family:"Microsoft YaHei";color:#3873bd;font-size:26px;font-weight: normal;margin-top:20px;}
.Conb .tis{color:#828282;margin:10px 0;}
.Conb .tis span{color:#4b4b4b;}
.uploadart ul{margin-bottom:10px;}
.uploadart li{margin-top:20px;}
.uploadart li .submitbtn1{padding-top:30px;}
.uploadart a.backlist{height:44px;position:relative;top:-7px;*top:15px;display:inline-block;margin-left:10px;font-size:14px;}
.uploadart li .select{height:52px;width:317px; background: url(../images/main/selecti.png) no-repeat;}
.select span{cursor:pointer;width:317px;height:52px;line-height:52px;display:inline-block;background: url(../images/main/xinghao.jpg) no-repeat 10px center;padding-left:30px;color:#a1a1a1;font-size:16px;font-family: "Microsoft YaHei";;}
.select {position:relative;}
.selectcon{display:none;position:absolute;left:0;top:52px; background: #fff;border:1px solid #9bb1c3;border-top:none;width:303px;}
.selectcon li{margin:0;padding:0;}
.selectcon li a{display: block;padding:10px;color:#333;}
.selectcon li a:hover{ background: #d9e0f0;color:#fff;}

.uploadfj{position:relative;margin-top:10px;}
.uploadfj a{display: block;position:absolute;left:0;top:0; background: #333;width:108px;height:28px; background: url(../images/main/scfj.png) no-repeat; z-index:5;}
.uploadfj input{ cursor:pointer;background:none;/* older safari/Chrome browsers */  
    -webkit-opacity: 0  
    /* Netscape and Older than Firefox 0.9 */  
    -moz-opacity:0;  
    /* Safari 1.x (pre WebKit!) 鑰佸紡khtml鍐呮牳鐨凷afari娴忚鍣�*/  
    -khtml-opacity: 0;  
    /* IE9 + etc...modern browsers */  
    opacity: 0;  
    /* IE 4-9 */  
    filter:alpha(opacity=0);  
    /*This works in IE 8 & 9 too*/  
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  
    /*IE4-IE9*/  
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0); width:98px;position:absolute;left:0;top:0;height:28px; z-index: 10;}
.uploadfj em{position:absolute;left:110px;top:5px;width:180px;color:#f13b3b;}

/*鍗忎綔涓撳尯璇︽儏*/
.p_goodShowStand1{
	width: 740px;
	overflow: hidden;
	margin: 0 auto;
	padding:20px 20px 20px 20px;
	margin-bottom:20px;
	border-bottom: 1px solid #e3e3e3;
}
.goodsEnlargeBox1{
	width: 342px;
	margin-right: 28px;
}
.m_box1{width: 342px;height: 406px; position: relative;z-index: 999; }
.m_outBox1{width: 340px;height:340px;position: relative;border: 1px solid #000;}
.m_posShowBox1{width: 342px;height: 342px;position: absolute; top: 0;left: 340px;display: none; z-index: 999;}
.m_outBox1 img{position: absolute;left: 0;top: 0;display: none;}
.m_outBox1 img.m_currentPic1{display: block;}
.m_showBox1{width: 340px;height: 340px;float: left;display: none;position: relative;overflow: hidden;border: 1px solid #000;}
.m_shadow1{width: 85px;height: 85px;opacity: .5; overflow: hidden;filter:alpha(opacity = 50);background: #000000;position: absolute;z-index: 9;display: none;float: none;}
.m_showBox1 img{position: absolute;left: 0;top: 0;}
.m_ctrlBox1{width: 340px;height: 340px;position: absolute;left: 0;top: 0;opacity: 0;filter:alpha(opacity = 0);z-index: 20;background: #00CCCC;cursor: move;}
.m_numsWrap1{
	width: 265px;
	height: 55px;
	margin: 0 auto;
	padding-top: 8px;
	position: relative;
	overflow: hidden;
}
.m_nums1{width: 1000px;height: 55px; position: absolute; left: 0;top: 8px;}
.m_nums1 li{float: left;width: 55px;height: 55px;cursor: pointer; position: relative; margin-right: 15px;}
.m_nums1 li img{
	width: 55px;
	height: 55px;
}
.m_imgCover1{
	width: 55px;
	height: 55px;
	background: #22447c;
	opacity: .5;
	-moz-opacity:.5 ;
	filter:alpha(opacity = 50);
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.m_nums1 li.m_currentPic1 .m_imgCover1{display: block;}
.m_leftBtn1,.m_rightBtn1{
	width: 27px;
	height: 55px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
}
.m_leftBtn1{
	left: 0;
	background:url(../images/main/m_lBtn.png) no-repeat;
	_background:url(../images/main/m_lBtn.gif) no-repeat;
}
.m_rightBtn1{
	right: 0;
	background:url(../images/main/m_lBtn.png) no-repeat -33px top;
	_background:url(../images/main/m_lBtn.gif) no-repeat -33px top;
}
.m_leftBtn1:hover{
	background-position: left -65px;
}
.m_rightBtn1:hover{
	background-position: -33px -65px;
}

.sellingInfos1{padding:10px 0;width:370px;}
.artconi{font-size:14px;color:#4B4B4B;font-family: "Microsoft YaHei";line-height:27px;padding:30px 20px;position:relative;z-index: 90;}
.artconi2{font-size:14px;color:#4B4B4B;font-family: "Microsoft YaHei";line-height:27px;padding:10px 20px;position:relative;z-index: 90;margin-bottom:10px;}
.Btnn{color:#4b4b4b;font-size:18px;font-family: "Microsoft YaHei";margin-bottom:10px;}

.xinxibox{position:relative;margin-top:20px;border-top:1px solid #e3e3e3;}
.xinxibox span{position:absolute;left:0;top:20px;}
.xinxilist{padding-left:50px;}
.xinxilist li em{color:#838383;font-size:12px;}
.xinxilist li p{font-size:16px;font-family: "Microsoft YaHei";}
.xinxilist li{float:left;width:158px;border-bottom:1px solid #e3e3e3;padding:20px 0;}
.xinxilist li.width{width:100%;border:none;}
.sharebox{margin:20px 0 0 0;}

.wupintable{margin-top:40px;padding-bottom:30px;}
.wupintable table{border:5px solid #e3e5e8;border-radius: 5px;}
.wupintable th{height:44px; background: #e3e5e8;text-align: center;}
.wupintable td{ background: #fff; text-align: center;height:50px;display:table-cell;*display:block;position:relative;z-index: 90;}
.pop{position:absolute;left: -139px;
top: -245px;padding:10px;border:1px solid #e3e5e8;border-radius: 5px; background: #fff;width:416px;height:210px;  -webkit-box-shadow:0 0 10px rgba(0, 204, 204, .5);  
  -moz-box-shadow:0 0 10px #e3e5e8;  
  box-shadow:0 0 10px #e3e5e8;  display: none;  text-align: left;}
  .pop p{line-height:30px;}
.jiao3{ background: url(../images/main/jiao3.png) no-repeat;width:19px;height:12px;position:absolute;left:189px; bottom:-12px;}



.zhuyebg{ background: url(../images/main/qiyebg.jpg) no-repeat;width:212px;height:279px;}
.zhuyebg h2{width:175px;line-height:48px;color:#fff;font-size:25px;margin:0 auto;margin-top:80px; text-align: center;}
.qiyelist li{float:left;width:158px;border-bottom:1px solid #e3e3e3;padding:15px 0;}
.qiyelist li.width{width:100%;}
.qiyelist li.nobor{border:none;}
.qiyelist li a{color:#3773BD;}
.qiyelist li a:hover{color:#ff8c00;}
.p_goodShowStand1n{
	width: 740px;
	overflow: hidden;
	margin: 0 auto;
	padding:20px;
	margin-bottom:20px;
	border-bottom: 1px solid #e3e3e3;
}
.bgn em{font-size:18px;font-weight: bold;display: inline-block;position:relative;top:2px;}
.qiyeico{margin-bottom:10px;}
.qiyeico li {padding:0;line-height:32px;height:32px;padding-left:20px;margin:10px 0;font-size:15px;}

.qiyeico li em{display: inline-block;width:22px;height:17px;position:relative;top:3px;margin-right:10px;}
.qiyeico li em.ico1n{ background: url(../images/main/iconimg2.png) no-repeat -3px 0;}
.qiyeico li em.ico2n{background:  url(../images/main/iconimg2.png)  no-repeat 0 -49px;}
.qiyeico li em.ico3n{background:  url(../images/main/iconimg2.png)  no-repeat -1px -96px;}
.qiyeico li.hover{height:32px; background: url(../images/main/bar.jpg) repeat-x 0 -400px;color:#fff;}
.qiyeico li.hover em.ico1n{ background: url(../images/main/iconimg2.png) no-repeat -54px -1px;}
.qiyeico li.hover em.ico2n{ background: url(../images/main/iconimg2.png) no-repeat -51px -50px;}
.qiyeico li.hover em.ico3n{ background: url(../images/main/iconimg2.png) no-repeat -52px -97px;}


.xiezuolist{margin-top:20px;height:300px;overflow: hidden;}
.xiezuolist li{padding:15px 0;border-top: 1px solid #e3e3e3;}
.xiezuolist li em,.xiezuolist li p{margin:10px 0;}
.xiezuolist li em{color:#838383;font-size:12px;}
.xiezuolist li p{color:#4b4b4b;font-size:16px;}
.xiezuolist li span{font-size:14px;color:#4b4b4b;}
.xiezuolist li .li{margin-top:10px;}
.xiezuolist li .ri{border-left:1px solid #e3e3e3;padding:0 30px;height:140px;}
.xiezuolist li .ri p{color:#7c8389;font-size:14px;font-weight: bold; text-align: center;margin-right:15px;}
.xiezuolist li .ri p.time{font-weight: normal;font-size:12px;}



/*閲囪喘鎷涙爣*/
.bl_screenTr{
	width: 1002px;
	height: 82px;
	background: #fbfcfd;
	border-bottom: 1px dotted #cdcece;
}
.bl_screenTd{
	padding: 20px;
	height: 40px;
	
}
.formele_Bg{
	width: 326px;
	height: 40px;
	background: url(../images/main/shaixuanbg.png) no-repeat;
}
.screenBox{
	display: inline-block;
	width: 218px;
	height: 14px;
	padding: 13px 10px;
	border: 0;
	background:transparent;
	outline: none;
	font-size: 14px;
	color: #838a95;
	font-family: "microsoft yahei";
	text-align: center;
}
.screenBtn{
	display: inline-block;
	width:87px;
	height: 40px;
	border: 0;
	outline: none;
	background:transparent;
	text-indent: -9999px;
	cursor: pointer;
}
.bl_termTr{
	padding:12px 20px;
	height: 20px;
	border-bottom: 1px dotted #cdcece;
}
.bl_termTd{
	float: left;
	padding-right: 20px;
}
.bl_termTd span,.bl_termTd em{
	float: left;
}
.bl_termTd em{
	background: #d7dcde;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	margin-right: 8px;
}
.bl_termTd span{
	font-family: "microsoft yahei";
	color: #666;
	font-size: 13px;
}
.bl_noBorder{
	border-bottom:0;
}
.bl_selectBox .bl_checkBox{
	background:url(../images/main/iconimg.png) no-repeat -108px -344px;
}
.bl_w86{
	width: 86px;
	text-align: center;
}
.bl_w213{
	width: 213px;
	text-align: left;
}
.bl_w149{
	width: 149px;
	text-align: left;
}
.bl_w194{
	width: 194px;
	text-align: left;
}
.bl_w87{
	width: 87px;
	text-align: left;
}
.bl_w123{
	width: 123px;
	text-align: left;
}
.bl_w82{
	width: 82px;
}
.bl_w82 a{
	color: #4487f7;
	font-size: 14px;
	font-family: "microsoft yahei";
}
.bl_w82 a:hover{
	color: #ff8c00;
	text-decoration: underline;
}
.bl_dataSheet{
	border-top:1px solid #cdced0;
}
.bl_dataSheet th{
	padding-top: 1px;
	height: 46px;
	background: url(../images/main/hotRecommandBg.jpg) repeat-x left bottom;
	border-bottom:1px solid #cdced0;
}
.bl_dataSheet td{
	height: 84px;
	border-bottom:1px solid #cdced0;
	color: #666;
	font-size: 14px;
}
.bl_w86 span{
	display: inline-block;
	width: 28px;
	height: 25px;
	cursor: pointer;
	background: url(../images/main/iconimg.png) no-repeat -114px -1px;
}
.bl_w213 a{
	display: block;
	width: 100%;
	font-family: "microsoft yahei";
	font-size: 16px;
	color: #666;
}
.bl_w213 a:hover{
	color: #ff9d25;
	text-decoration: underline;
}
.bl_w213 em{
	display: inline-block;
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #a0a0a0;
}
.bl_w194 em{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 14px;
	position: relative;
	top: 1px;
	background: url(../images/main/iconimg.png) no-repeat -156px -3px;
}
.rmainconi .longBottomBg{
	background: url(../images/main/bgbottm3.jpg) no-repeat left top;
	width: 1019px;
}
/*鍟嗗煄鏈嶅姟璇︽儏*/
.Mallendlist{margin-top:20px;}
.Mallendlist li em{color:#838383;font-size:12px;}
.Mallendlist li p{font-size:16px;font-family: "Microsoft YaHei";}
.Mallendlist li{float:left;width:185px;border-bottom:1px solid #e3e3e3;padding:20px 0;}
.Mallendlist li.width{width:100%;border:none;}
.Mallp{margin:20px 0;}

/*鍜ㄨ鏈嶅姟*/
.serviceend{width:743px;margin:0 auto;}
.Btbox{ text-align: center;position:relative;}
.Btbox h2{font-size:24px;color:#3873bd;font-weight: normal;margin:20px 0;}
.sharebox1{position:absolute;right:0;top:56px;}
.serviceend .lined{margin:30px 0 40px 0;}
.dlbox{width:660px;margin:20px auto;}
.dlbox dt{font-size:18px;color:#4b4b4b;margin-bottom:20px;}
.dlbox dd{line-height:27px;font-size:14px;color:#4b4b4b;}
.liuyanbox{margin-top:10px;font-size:18px;color:#4b4b4b;margin-bottom:20px;}
.icousr{border-radius:5px;width:608px;padding-left:40px; background:#fff url(../images/login/user.png) no-repeat 5px center;border:1px solid #9bb1c3;font-family:"Microsoft YaHei";color:#a1a1a1;}
.icoly{border-radius:5px;width:608px;min-width:608px;max-width:608px;padding-left:40px; background:#fff url(../images/login/pass.png) no-repeat 5px 10px;border:1px solid #9bb1c3;font-family:"Microsoft YaHei";color:#a1a1a1;}


/*閲囪喘鎷涙爣璇︽儏*/
.caigoulist li{float:left;border-bottom: 1px dashed #ccc;width:371px;padding:20px 0;overflow: hidden;height:30px;}
.caigoulist li.textr span{float:right;width:200px;}
.caigoulist li.width{width:100%;}
.caigoulist li em{font-size:16px;color:#5f6573;}
.iico1{ background: url(../images/main/icoimg.png) no-repeat -2px -1080px;width:20px;height:20px; display: inline-block;position:relative;top:3px;margin-right:10px;}
.iico2{ background: url(../images/main/icoimg.png) no-repeat -5px -1245px;width:23px;height:21px; display: inline-block;position:relative;top:3px;margin-right:10px;}
.iico3{ background: url(../images/main/icoimg.png) no-repeat -2px -1137px;width:23px;height:23px; display: inline-block;position:relative;top:3px;margin-right:10px;}
.iico4{ background: url(../images/main/icoimg.png) no-repeat -2px -1137px;width:23px;height:23px; display: inline-block;position:relative;top:3px;margin-right:10px;}
.iico5{ background: url(../images/main/icoimg.png) no-repeat -2px -1198px;width:23px;height:20px; display: inline-block;position:relative;top:3px;margin-right:10px;}
.dlbox1{margin:30px auto;}
.dlbox1 dt{font-size:18px;color:#4b4b4b;margin-bottom:20px;}
.dlbox1 dd{line-height:27px;font-size:14px;color:#4b4b4b;}
.uploadfj1{position:relative;margin-top:10px;margin-right:250px;}
.uploadfj1 a{display: block;position:absolute;left:0;top:0; background: #333;width:108px;height:28px; background: url(../images/main/scfj.png) no-repeat; z-index:5;}
.uploadfj1 input{ cursor:pointer;background:none;/* older safari/Chrome browsers */  
    -webkit-opacity: 0  
    /* Netscape and Older than Firefox 0.9 */  
    -moz-opacity:0;  
    /* Safari 1.x (pre WebKit!) 鑰佸紡khtml鍐呮牳鐨凷afari娴忚鍣�*/  
    -khtml-opacity: 0;  
    /* IE9 + etc...modern browsers */  
    opacity: 0;  
    /* IE 4-9 */  
    filter:alpha(opacity=0);  
    /*This works in IE 8 & 9 too*/  
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  
    /*IE4-IE9*/  
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0); width:98px;position:absolute;left:0;top:0;height:28px; z-index: 10;}
.uploadfj1 em{position:absolute;left:110px;top:0;width:180px;color:#f13b3b;}
.Formbox1 {
	margin: 0 auto;
	overflow: hidden;
}
.Formbox1 ul{width:770px;}
.Formbox1 li {
	width: auto;
	margin-bottom: 20px;
}
.Formbox1  .text3{width:317px;}
.Formbox1  .textarea1{width:700px;min-width:700px;max-width:700px; background: #fff;}


.listtype2{padding:10px 0 20px 0;}
.listtype2 li{padding:5px 0;margin:10px 0;font-size:15px;color:#515765;position:relative;}
.listtype2 li.hover{  color:#fff;background: url(../images/main/zckj-bj.jpg) repeat-x;}
.listtype2 li.hover span a.hover_a{ color: #ff8c00;}
.listtype2 li.hover i{ background-position:  -89px -35px;}
.listtype2 li i{ margin:0 5px;display: inline-block;width:7px;height:10px;*position:relative;top:-3px;_top:6px;}
.listtype2 li b{width:10px;height:10px; display:block;position:absolute;right:20px;top:13px;background: url(../images/main/down1.png) no-repeat;}
.listtype2 li.hover b{background: url(../images/main/up1.png) no-repeat;}
.listtype2 li em{display: inline-block;height:28px;}
.listtype2 li span{display: block; background: #ccd7ed;text-align: left;}
.listtype2 li span a{font-size:14px; background: #ccd7ed;display: block;padding:10px 0;padding-left:50px;border-bottom:1px dotted #fff;}
.listtype2 li i.mico1{ width: 32px; height: 24px; background: url(../images/main/icoimg.png) no-repeat 4px -625px; float: left;}
.listtype2 li i.mico2{ width: 32px; height: 24px; background: url(../images/main/icoimg.png) no-repeat -40px -666px; float: left;}
.listtype2 li i.mico3{ width: 32px; height: 30px; background: url(../images/main/icoimg.png) no-repeat 6px -721px; float: left;}
.listtype2 li i.mico4{ width: 32px; height: 30px; background: url(../images/main/icoimg.png) no-repeat 6px -777px; float: left;}
.listtype2 li i.mico5{ width: 32px; height: 30px; background: url(../images/main/icoimg.png) no-repeat 6px -828px; float: left;}
.listtype2 li.hover i.mico1{ width: 32px; height: 24px; background: url(../images/main/icoimg.png) no-repeat -38px -627px; float: left;}
.listtype2 li.hover i.mico2{ width: 32px; height: 24px; background: url(../images/main/icoimg.png) no-repeat -40px -666px; float: left;}
.listtype2 li.hover i.mico3{ width: 32px; height: 30px; background: url(../images/main/icoimg.png) no-repeat -35px -721px; float: left;}
.listtype2 li.hover i.mico4{ width: 32px; height: 30px; background: url(../images/main/icoimg.png) no-repeat -35px -777px; float: left;}
.listtype2 li.hover i.mico5{ width: 32px; height: 30px; background: url(../images/main/icoimg.png) no-repeat -34px -828px; float: left;}

.listtype2 li i.micou1{ width:20px; height:19px; background: url(../images/main/icoimg.png) no-repeat -2px -724px; float: left;position:relative;top:2px;margin:0 10px;}
.listtype2 li i.micou2{width:20px; height:19px; background: url(../images/main/icoimg.png) no-repeat -1px -830px; float: left;position:relative;top:2px;margin:0 10px;}
.listtype2 li i.micou3{ width:20px; height:19px; background: url(../images/main/icoimg.png) no-repeat -3px -1406px; float: left;position:relative;top:2px;margin:0 10px;}
.listtype2 li i.micou4{width:20px; height:19px;background: url(../images/main/icoimg.png) no-repeat 0px -1461px; float: left;position:relative;top:2px;margin:0 10px;}
.listtype2 li.hover i.micou1{ width:20px; height:19px; background: url(../images/main/icoimg.png) no-repeat -39px -724px; float: left;}
.listtype2 li.hover i.micou2{ width:20px; height:19px; background: url(../images/main/icoimg.png) no-repeat -44px -830px; float: left;}
.listtype2 li.hover i.micou3{width:20px; height:19px; background: url(../images/main/icoimg.png) no-repeat -48px -1407px; float: left;}
.listtype2 li.hover i.micou4{ width:20px; height:19px; background: url(../images/main/icoimg.png) no-repeat -45px -1462px; float: left;}
/*閾惰仈鏀粯*/
.ylzf{ margin-top: 20px; border-top: 1px solid #c9d0df; padding: 0 35px;clear:both;height:600px;}
.ylzf h2{margin-top:40px; color: #3873bd; font-size: 26px; font-family: "microsoft yahei";margin-bottom:10px;}
.ylzf_b{line-height:27px;color:#4b4b4b;margin-top:40px;}
.ylzf_a p{color:#828282;}
.ylzf_a p em{color:#4b4b4b;}
.ylzf_a a{color:#828282; text-decoration: underline;}

/*璧拌繘鑸ぉ*/
.ylzf2{ margin-top: 20px; border-top: 1px solid #c9d0df; padding:35px;clear:both;}
.ylzf2 h2{margin-top:40px; color: #3873bd; font-size: 26px; font-family: "microsoft yahei";margin-bottom:10px;}
.ylzf_b2{line-height:27px;color:#4b4b4b;margin-top:40px;}
.ylzf_a2 p{color:#828282;}
.ylzf_a2 p em{color:#4b4b4b;}
.ylzf_a2 a{color:#828282; text-decoration: underline;}
.ylzf_b p{font-size:14px;margin-bottom:30px;line-height:27px; text-indent: 25px;}
